body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 20px 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 0.8em;
}

.nav-item {
  color: white;
  text-decoration-line: none;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.aside-left {
  flex-basis: 15%;
}

.about,
.archives {
  padding: 20px 20px;
}

.aside-title {
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
}

.about {
  background-color: rgba(114, 112, 112, 0.11);
}

.archives li {
  color: purple;
  text-decoration: underline;
}

.middle-content {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: column;
}

.content-column-1 {
  flex-basis: 47%;
  flex-wrap: column;
  justify-content: space-around;
}

.content-column-2 {
  flex-basis: 47%;
  justify-content: space-around;
  flex-wrap: column;
}

article {
  flex-basis: 47%;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.pretend-to-be-img {
  padding: 60px 20px;
  margin: 0;
  background-color: rgb(87, 87, 87);
  text-align: center;
  color: white;
}

.article-content {
  padding: 5px 10px;
}

.article-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.aside-right {
  flex-basis: 17%;
  align-self: center;
  padding: 20px;
  background-color: rgba(202, 200, 200, 0.308);
}

.link-to-details {
  color: rgb(38, 158, 228);
}

.aside-right input {
  display: block;
  padding: 10px;
}

.check-content {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

span {
  font-size: 0.7em;
  font-weight: bold;
}

.submit-button {
  width: 100%;
  border-style: hidden;
  color: white;
  background-color: rgb(0, 140, 255);
}

footer {
  margin-top: 5%;
  padding: 15px;
  background-color: rgba(202, 200, 200, 0.308);
  text-align: center;
  font-size: 0.9em;
}
footer p {
  margin: 0;
  color: rgb(165, 164, 164);
}

.text-underline {
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}
